version: "3.9"

services:
  app:
    build: .
    container_name: smart_shop
    restart: always
    ports:
      - "3000:3000"
    environment:
      # Containers dùng tên service để giao tiếp, không phải localhost
      DATABASE_URL: postgresql://postgres:password@db:5432/prisma_db?schema=public
      REDIS_URL: redis://redis:6379
      NODE_ENV: development
      PORT: 3000
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
    command: sh -c "npx prisma migrate deploy && npm run db:seed && npm start"

  db:
    image: postgres:15
    container_name: postgres_smartshop
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: prisma_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis_cache
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
